%h3 Student

%p
  = link_to("Edit Student Info", edit_family_student_path(@family, @student))
  &nbsp; &nbsp; &nbsp; &nbsp; 
  = link_to("Add/Edit Address", @student.address.present? ? @student.address : new_address_path(student_id: @student))

%br

= render partial: 'students/info', locals: {student: @student}

%br
%br

%h4 Family Info
%p= @family.name

- if @family.phone_number.present?
  %p= @family.phone_number

- if @family.email
  %p= @family.email

- if @family.address.present?
  %p= @family.address.mail

%p= link_to('Show Family', @family)

