%h3 Family

%p
  Parent 1: 
  = @family.parent_1_name

%p
  Parent 2: 
  = @family.parent_2_name  

- if @family.email.present?  
  %p
    Email:
    = @family.email

- if @family.phone_number.present?
  %p
    Phone Number:
    = @family.phone_number
  
  
%p
  Newsletter: 
  - if @family.newsletter_option.nil?
    None
  - else
    = @family.newsletter_option.name

- if @family.referrals.present?
  %p
    Referral Sources: 
    = @family.referrals.map { |r| link_to(r.referral_option.name, edit_family_referral_path(@family, r)) }.join(', ')

- if @family.point_of_contacts.present?
  %p
    Points Of Contact:
    = @family.point_of_contacts.map { |p| link_to(p.point_of_contact_type.name, edit_family_point_of_contact_path(@family, p), title: p.title) }.join(', ').html_safe
  
    
%p
  = link_to("Edit Family", edit_family_path(@family))
  &nbsp; &nbsp; &nbsp;
  - unless @family.address.present?
    = link_to("Add address", new_address_path(family_id: @family.id))
    &nbsp; &nbsp; &nbsp;
  = link_to("Add a student", new_family_student_path(@family))
  &nbsp; &nbsp; &nbsp;
  = link_to("Add a referral source", new_family_referral_path(@family))
  &nbsp; &nbsp; &nbsp;
  = link_to("Add a point of contact (call, email, visit, etc.)", new_family_point_of_contact_path(@family))

- if @family.address.present?
  %br
  = render partial: 'addresses/info', locals: {address: @family.address}
  %p= link_to("Edit address", edit_address_path(@family.address, family_id: @family.id))
  
%br

- if @family.students.present?  
  %h4 Students
  - @family.students.each do |student|
    = render partial: 'students/info', locals: {student: student}
    = link_to("Show Student", family_student_path(@family, student))
    
    
    